# ──────────────────────────────────────────────────────────────────────
# Rapport Tool — Environment Variables
# Copy this file to .env and fill in your values
# ──────────────────────────────────────────────────────────────────────

# Seidor Intranet credentials
NAME=
USERNAME=
PASSWORD=
EMAIL_ADDRESS_SENDER=
EMAIL_ADDRESS_RECIPIENT=

# SAP Employee Number (IPernr / Pernr in payload)
PERNR=

# SAP Position ID (Posid in payload)
POSID=

# Description that appears in each time entry
DESCR=


# Config Email
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=